# CLion specific
.idea/

# Compiled output
out/
cmake-build-debug/
cmake-build-release/

# macOS specific files
.DS_Store

# Compiled binary
*.exe
*.out

# Temporary files
*.tmp

# CMake files
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user

# Build and compile files
Makefile
CMakeLists.txt.user
cmake_install.cmake
CMakeCache.txt

# Visual Studio Code settings
.vscode/

# Dependency directories
# Add any dependencies you want to exclude from version control
# For example:
# /lib/
# /include/
